<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <script src="/socket.io/socket.io.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  
  <div class="container mt-3">
    <div class="alert alert-success" style="display:flex; justify-content:space-between;" role="alert">
      <h1 style="max-width: 50%;">  bienvenido {{username}}!</h1>
      <form action="/logout" method="get" style="margin: 10px;">
    <button type="submit" class="btn btn-warning">Deslogear</button>
    </form> 
    <form action="/user" method="get" style="margin: 10px;">
    <button type="submit" class="btn btn-primary">Mi usuario</button>
    </form>
    <form action="/chat/" method="get" style="margin: 10px;">
    <button type="submit" class="btn btn-success ">Chat</button>
    </form>
    <form action="/carrito/" method="get" style="margin: 10px;">
    <button type="submit" class="btn btn-light">Carrito</button>
    </form>  
  </div>
    <div class="jumbotron">
      <h1 style="color:blue">Ingrese Producto</h1>
      <br>
            <form onsubmit="addProd(this);return false">
              <div class="form-group">
               <label for="name"><b>Nombre</b></label> 
               <input id="nombre" class="form-control" type="text" name="nombre">
              </div>
              <div class="form-group">
               <label for="name"><b>Categoria</b></label> 
               <input id="categoria" class="form-control" type="text" name="categoria">
              </div>
              <div class="form-group">
                <label for="precio"><b>Precio</b></label> 
                <input id="precio" class="form-control" type="number" name="precio">
               </div>
                <div class="form-group">
                <label for="Cantidad"><b>Cantidad</b></label> 
                <input id="cantidad" class="form-control" type="number" name="Cantidad">
               </div>
               <div class="form-group">
                <label for="imageURL"><b>Foto URL</b></label> 
                <input id="fotoURL" class="form-control" type="text" name="fotoURL">
               </div>
                <div class="form-group">
                <label for="imageURL"><b>Codigo</b></label> 
                <input id="codigo" class="form-control" type="text" name="codigo">
               </div>
               <div class="form-group">
                <label for="imageURL"><b>Stock</b></label> 
                <input id="stock" class="form-control" type="text" name="stock">
               </div>
               <button class="btn btn-success mt-3 mb-5">Enviar</button>
            </form>
    
    </div>
  </div>
   <div class="container mt-3">
    <div class="jumbotron">
        <h2 style="color:crimson;">Productos</h2>
        
                {{#if contenido}}
                <hr />
                 <form onsubmit="filtrarCategoria(this);return false">
                   <div class="form-group">
                <label for="imageURL"><b>Filtrar por categoria</b></label> 
                <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect1">
      
      {{#each contenido}}              
      <option>{{this.categoria}}</option>
    
       {{/each}}
    </select>
  </div>
               </div>
                      <button class="btn btn-success mt-1 mb-3">Enviar</button>
            </form>
                    <form onsubmit="filtrarId(this);return false">
                   <div class="form-group">
                <label for="imageURL"><b>Buscar por Id</b></label> 
                <div class="form-group">
    <select class="form-control" id="exampleFormControlSelect2">
      
      {{#each contenido}}              
      <option>{{this._id}}</option>
    
       {{/each}}
    </select>
  </div>
               </div>
                      <button class="btn btn-success mt-1 mb-3">Enviar</button>
            </form>
            <div class="table-responsive">
                <table class="table table-dark">
                    <tr style="color: yellow"><th>Nombre</th><th>Precio</th><th>Cantidad</th><th>Categoria</th><th>_Id</th><th>Imagen</th></tr>
                    {{#each contenido}}
                    
                    <tr class="productoRow" onclick="document.location = '/producto/{{this._id}}';" style="z-index:-1;">
                       
                        <td>{{this.nombre}}</td>
                        <td>${{this.precio}}</td>
                         <td>{{this.cantidad}}</td>
                        <td>{{this.categoria}}</td>
                        <td>{{this._id}}</td>
                        <td><img src="{{this.fotoURL}}" style="max-height:30px"></td>
                        
                        
                        <td style="width: 10%;"> 
                          
                          <button class="btn btn-danger mt-3 mb-5" onclick="deleteProd('{{this.id}}')" style="z-index:1000;">X</button>
                
                          </td>                  
                    </tr>
                   {{/each}}
                </table>
            </div>
         {{else}}
                    <h3 class="alert alert-danger">no se encontraron datos </h3>
        {{/if}}
                    
    </div>
    <script>
const user = "{{ username }}"
</script>
    <script src="./main.js"></script>
</body>



</html>

